<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- <add name="SCCConnectionString" connectionString="server=61.156.157.244;database=LotteryNumber_Dev;uid=sa;pwd=Txwl224!lwxt;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="SCCConnectionString" connectionString="server=192.168.1.5;database=LotteryNumber;uid=sa;pwd=TXwl123456;Connect Timeout=300;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient"/>-->
    
    <add name="SCCConnectionString" connectionString="server=61.156.157.244;database=LotteryNumber;uid=sa;pwd=NK4Qwql8Z?csv(X;Connect Timeout=30;persist security info=false;Pooling=true;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>
    <!--注入配置-->
    <add key="SCC.Interface" value="SCC.Services" />
    <!--地方彩彩种编号，生成走势图使用-->
    <add key="FJ31X7" value="60" />
    <add key="FJ36X7" value="61" />
    <add key="JS7WS" value="62" />
    <add key="ZJ6J1" value="63" />
    <add key="DF6J1" value="64" />
    <add key="HD15X5" value="65" />
    <add key="HeNan22X5" value="67" />
    <add key="XJ35X7" value="68" />
    <add key="NY36X7" value="69" />
    <add key="HUB30X5" value="101" />
    <add key="GDHC1" value="28" />
    
    <!--邮件功能配置-->
    <!--是否开启-->
    <add key="MailTurnOn" value="True" />
    <!--发送给-->
    <add key="MailTo" value="zhaoyi_dsx@163.com" />
    <!--抄送给-->
    <add key="MailCC" value="" />
    <!--若不采用默认管理员账号发送邮件，可设置以下四个配置项-->
    <!--发出地址-->
    <add key="MailFrom" value="957007164@qq.com" />
    <!--名称-->
    <add key="SenderUserName" value="抓取开奖号系统邮件中心" />
    <!--密码-->
    <add key="SenderPassWord" value="yvxusaucpyrlbbdb" />
    <!--主机地址-->
    <add key="SMTPHost" value="smtp.qq.com" />
    <!--开彩网API地址 主地址-->
    <add key="OpenCaiApiHostMain" value="http://c.apiplus.net/{1}.do?{0}" />
    <!--开彩网API地址 备用地址-->
    <add key="OpenCaiApiHostBack" value="http://z.apiplus.cn/{1}.do?{0}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>